# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# Streamlit
.streamlit/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Video files
*.mp4
*.avi
*.mov

# Database / SQLite files
*.db
*.sqlite3

# IDE files
*.idea/

# Local project paths / virtual environments
local-rag/
pdf_assistant_env/
